<div class="root">
    <div class="header">
        <div>
            <label class="title af-font-big">
                General Discussion
            </label>
            <div class="numbers">
                X threads, X replies
            </div>
        </div>
        <div>
            <div class="icon"></div>
        </div>
    </div>
    <div class="footer">
        <label class="thread-title"></label>
        <label class="last-post"></label>
        <label class="page"></label>
    </div>
    <div class="indicator">

    </div>
</div>