@import "../../../../styles/colors.scss";
@import "../../../../styles/variables.scss";

.content {
    display: flex;
    height: 100%;
}

.navigator {
    margin: $af-margin;
}

.subforums {
    display: flex;
    flex-flow: wrap;
    margin-top: $af-margin;
    margin-right: $af-margin;
    justify-content: center;
    align-content: flex-start;
}

.subforums af-subforum {
    flex: 1;
    width: 50%;
    height: min-content;
}

.subforums af-subforum:nth-child(even) {
    margin-left: $af-margin;
}

.subforums af-subforum:nth-child(n+3) {
    margin-top: $af-margin;
}