// greys
$color-backdrop: #141414;
$color-page-background: #1F1F1F;
$color-component-bg-primary: #4F4F4F;
$color-component-bg-secondary: #333333;
$color-font-primary: white;
$color-font-secondary: rgba(255, 255, 255, 0.5);

// saturates
$color-strawberry: #E73C3E;
$color-orange: #FF6D00;
$color-mustard: #F0B323;
$color-lemon: #FEDD00;
$color-lime: #A4D233;
$color-apple: #00C65E;
$color-spearmint: #00C19F;
$color-peppermint: #2CCCD3;
$color-blueberry: #307FE2;
$color-lavender: #6A6DCD;
$color-cabbage: #9063CD;
$color-bubblegum: #DB3EB1;